.button {
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  transition-duration: 200ms;
  white-space: nowrap;
  
  &_white {
    color: $white;
    padding: 0;

    &_border {
      justify-content: center;
      color: $black;
      background-color: $white;
    }
  }
  
  &_black {
    color: $black;
    padding: 0;
    
    &_border {
      justify-content: center;
      color: $white;
      background-color: $black;
    }
  }

  &_white, &_black {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  
  &_white_border, &_black_border {
    &:hover, &:focus {
      color: $black;
      background-color: $grey;
    }
  }

  &_black, &_white_border {
    &:active {
      filter: brightness(0.3);
    }
  }

  &_white, &_black_border {
    &:active {
      filter: brightness(1.7);
    }
  }

  @media (min-width: 768px) {
    padding-block: 0.75rem;
  }
}