.feature-card {
  @include flexCenter;
  flex-direction: column;
  gap: 1rem;
  $padding: 2rem;
  padding: $padding;
  width: calc(100% - $padding * 2);
  max-width: 28rem;

  &_image-container {
    @include flexCenter;
    height: 72px;
    margin-bottom: 1.5rem;
  }

  p {
    text-align: center;
    opacity: 0.6;
  }

  @media (min-width: 1100px) {
    width: 22rem;
    padding: 0;
  }
}