@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
  font-size: pixelToRem(15);
  // line-height: pixelToRem(25);
}

h1, h2, h3, h4, p, span {
  margin: 0;
}

h1, .header-large {
  font-weight: bold;
  font-size: pixelToRem(32);
  line-height: pixelToRem(40);
  letter-spacing: pixelToRem(3.33);

  @media (min-width: 768px) {
    font-size: pixelToRem(40);
    line-height: pixelToRem(48);
    letter-spacing: pixelToRem(4.17);
  }
}

.price {
  font-weight: bold;
  font-size: pixelToRem(40);
  line-height: pixelToRem(48);
  letter-spacing: pixelToRem(4.17);
}

.pricing-title {
  font-weight: bold;
  font-size: pixelToRem(24);
  line-height: pixelToRem(25);
}

.story-title, .feature-title, .subscription-length {
  font-weight: bold;
  font-size: pixelToRem(18);
  line-height: pixelToRem(25);
}

h4, .button {
  font-weight: bold;
  font-size: pixelToRem(12);
  line-height: pixelToRem(16);
  letter-spacing: pixelToRem(2);
}

.footer-item, .last-month, .comparisons {
  font-weight: bold;
  font-size: pixelToRem(12);
  letter-spacing: pixelToRem(2);
}

.nav-item, .nav-button {
  font-weight: bold;
  font-size: pixelToRem(15);
  letter-spacing: pixelToRem(2.5);
  
  @media (min-width: 768px) {
    font-size: pixelToRem(12);
    letter-spacing: pixelToRem(2);
  }
}

.author, .date {
  font-size: pixelToRem(13);
}