.features {

  &_features {
    @include flexCenter;
    background-color: $white;
    
    .wrapper {
      @include flexCenter;
      flex-direction: column;
      padding-block: 3rem;
    }
  }
  
  @media (min-width: 768px) {
    &_features {
      .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-block: 5.5rem;
      }
    }
  }
  
  @media (min-width: 1100px) {
    &_features {
      
      .wrapper {
        padding-block: 10rem;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.5rem 1.85rem;
        align-items: start;
      }
    }
  }
}