.home {
  margin-top: pixelToRem(72);

  &_stories {
    display: grid;
  }

  &_features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 3rem;
  }

  @media (min-width: 500px) {
    &_stories {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 768px) {
    &_features {
      padding-block: 5.5rem;
    }
  }
  
  @media (min-width: 1100px) {
    &_stories {
      grid-template-columns: repeat(4, 1fr);
    }

    &_features {
      flex-direction: row;
      align-items: flex-start;
    }
  }
}