.pricing {
  background-color: $white;

  $padding: 1.75rem;

  &_data {
    padding-block: 4rem;

    &_comparison {
      padding: $padding;
      width: calc(100% - $padding * 2);
      
      h2 {
        padding-bottom: 4rem;
      }

      h3 {
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $black;
      }

      table {
        width: min(100%, 731px);
        border-collapse: collapse;
      }
    }
  }
  
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: $padding;
  }
  
  @media (min-width: 768px) {
    &_data {
      padding-block: 7rem;

      &_comparison {
        @include flexCenter;
        flex-direction: column;

        th {
          text-align: left;
        }

        &_header {
          .compare-subscription:first-child {
            padding-left: 1.5rem;
          }

          th {
            padding-bottom: 1.5rem;
          }
          
          border-bottom: 1px solid $black;
        }

        .types {
          text-align: center;
          width: 20%;
        }
      }
    }
    
    ul {
      padding: 2.5rem;
    }
  }
  
  @media (min-width: 1100px) {
    &_data {
      padding-block: 7.5rem;

      &_comparison {
        padding-top: 5rem;
      }
    }

    ul {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}